<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主题递归树</title>
	<script type="text/javascript" src="../static/angular.min.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body ng-app="show">
    <div ng-controller="tree-home" class="tree">
		<ul ng-if="data">
			<li ng-repeat="item in data " class="scheme">
				id: {{item.id}} title: {{item.title}} content: {{item.content}}
				<ul ng-if="item.$hasChildren() && !item.$ifFolded">
					<li ng-repeat="son in item" class="son-scheme">
						id: {{son.id}} title: {{son.title}} content: {{son.content}}
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<script src="index.js"></script>
	<script src="../common/services.js"></script>
	<!--<script src="../common/directive.js"></script>-->
	<!--<script src="../common/filter.js"></script>-->
</body>
</html>