<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主题递归树</title>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body ng-app="show">
    <div ng-controller="tree-home" class="ngTree">
		<ul ng-if="data" class="tree1">
			<li ng-repeat="son0 in data">
				<input type="checkbox" ng-model="son0.$ifChoosen" ng-change="son0.$getChange()">
				<span class="title">
					id: {{son0.id}} title: {{son0.title}}
				</span>
				<div class="tree-content">
					content: {{son0.content}}
				</div>
				<button ng-if="son0.$ifFolded" class="btn" ng-click="son0.$changeFolded()">+</button>
				<button ng-if="!son0.$ifFolded" class="btn" ng-click="son0.$changeFolded()">-</button>
				<ul ng-if="son0.$hasChildren() && !son0.$ifFolded" class="tree2">
						<li ng-repeat="son1 in son0.items">
							<input type="checkbox" ng-model="son1.$ifChoosen" ng-change="son1.$getChange(son0)">
							<span class="title">
								id: {{son1.id}} title: {{son1.title}}
							</span>
								<div class="tree-content">
									content: {{son1.content}}
								</div>
							<button ng-if="son1.$ifFolded" class="btn" ng-click="son1.$changeFolded()">+</button>
							<button ng-if="!son1.$ifFolded" class="btn" ng-click="son1.$changeFolded()">-</button>
							<ul ng-if="son1.$hasChildren() && !son1.$ifFolded" class="tree3">
							<li ng-repeat="son2 in son1.items">
								<input type="checkbox" ng-model="son2.$ifChoosen" ng-change="son2.$getChange(son1)">
								<span class="title">

									id: {{son2.id}} title: {{son2.title}}
								</span>
								<div class="tree-content">
									content: {{son2.content}}
								</div>
							</li>
						</ul>
						</li>
					</ul>
			</li>
		</ul>
	</div>


	<script src="index.js"></script>
	<script src="../common/services.js"></script>
	<!--<script src="../common/directive.js"></script>-->
	<!--<script src="../common/filter.js"></script>-->
</body>
</html>