<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主题递归树</title>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body ng-app="show">
    <div ng-controller="tree-home" class="ngTree">
		<ul ng-if="data" class="tree1">
			<li ng-repeat="son0 in data">
				<span class="title">
					id: {{son0.id}} title: {{son0.title}}
				</span>
				<div class="tree-content">
					content: {{son0.content}}
				</div>
				<span ng-if="son1.$ifFolded" class="btn">+</span>
				<span ng-if="!son1.$ifFolded" class="btn">-</span>
				<ul ng-if="son0.$hasChildren() && !son0.$ifFolded" class="tree2">
						<li ng-repeat="son1 in son0.items">
					<span class="title">
						id: {{son1.id}} title: {{son1.title}}
					</span>
						<div class="tree-content">
							content: {{son1.content}}
						</div>
							<span ng-if="son2.$ifFolded" class="btn">+</span>
							<span ng-if="!son2.$ifFolded" class="btn">-</span>
							<ul ng-if="son1.$hasChildren() && !son1.$ifFolded" class="tree3">
							<li ng-repeat="son2 in son1.items">
								<span class="title">
									id: {{son2.id}} title: {{son2.title}}
								</span>
								<div class="tree-content">
									content: {{son2.content}}
								</div>
							</li>
						</ul>
						</li>
					</ul>
			</li>
		</ul>
	</div>

	<!--<div class="ngTree">-->
		<!--<ul class="tree1">-->
			<!--<li>-->
				<!--<h1 class="title">标题党1</h1>-->
				<!--<div class="tree-content">-->
					<!--suapudjfosdijfosjjfosdjfoajssuapudjfosdijfosjjfosdjfoajsdfjsfj-->
					<!--dsfjosdjfsjfdjsfjs noinvo noijfosd iojfoovoiajwofsuapudjfosdijfosj-->
					<!--jfosdjfoajsdfjsfjdsfjosdjfsjfdj-->
					<!--sfjs noinvo noijfosd iojfoovoiajwofdfjsfjdsfjosdjfsjfdjsfjs noinvo noijfosd iojfoovoiajwof-->
				<!--</div>-->
				<!--<ul class="tree2">-->
					<!--<li>-->
						<!--<h2 class="title">标题党1</h2>-->
						<!--<div class="tree-content">-->
							<!--suapudjfosdijfosjjfosdjfoajssuapudjfosdijfosjjfosdjfoajsdfjsfj-->
							<!--dsfjosdjfsjfdjsfjs noinvo noijfosd iojfoovoiajwofsuapudjfosdijfosj-->
							<!--jfosdjfoajsdfjsfjdsfjosdjfsjfdj-->
							<!--sfjs noinvo noijfosd iojfoovoiajwofdfjsfjdsfjosdjfsjfdjsfjs noinvo noijfosd iojfoovoiajwof-->
								<!--<ul class="tree3">-->
									<!--<li>-->
										<!--<h2 class="title">标题党1</h2>-->
										<!--<div class="tree-content">-->
											<!--suapudjfosdijfosjjfosdjfoajssuapudjfosdijfosjjfosdjfoajsdfjsfj-->
											<!--dsfjosdjfsjfdjsfjs noinvo noijfosd iojfoovoiajwofsuapudjfosdijfosj-->
											<!--jfosdjfoajsdfjsfjdsfjosdjfsjfdj-->
											<!--sfjs noinvo noijfosd iojfoovoiajwofdfjsfjdsfjosdjfsjfdjsfjs noinvo noijfosd iojfoovoiajwof-->
										<!--</div>-->
									<!--</li>-->
								<!--</ul>-->
						<!--</div>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</div>-->

	<script src="index.js"></script>
	<script src="../common/services.js"></script>
	<!--<script src="../common/directive.js"></script>-->
	<!--<script src="../common/filter.js"></script>-->
</body>
</html>